aside
  .logo-block.wrapper
    a(href="#").logo.logo-framed
      h1 Сияние
    h4.slogan Интернет-магазин отделочных материалов и дизайна.
  nav.menu
    ul
      li
        a(href="/") Каталог товаров
      li
        a(href="/")#news Новости и акции
      li
        a(href="/") наши услуги
      li
        a(href="/") портфолио
      li
        a(href="/") блог
      li
        a(href="/") контакты
  nav.links.wrapper
    ul
      li
        a(href="/") О компании
      li
        a(href="/") Отзывы о нас
      li
        a(href="/") Доставка и оплата
      li
        a(href="/") Дизайнеры
  .contacts-block.wrapper
    span.phone +7&nbsp;(4822)&nbsp;648&#x2012;080
    a(href="#call-popup")#call-us Заказать звонок