nav#menu.mobile-menu
  ul
    li
      a(href="/") Каталог товаров
      ul.submenu
        li
          a(href="/") Подпункт 1
        li
          a(href="/") Подпункт 2
    li
      a(href="/") Новости и акции
      ul.submenu
        li
          a(href="/") Подпункт 1
        li
          a(href="/") Подпункт 2
    li
      a(href="/") наши услуги
      ul.submenu
        li
          a(href="/") Подпункт 1
        li
          a(href="/") Подпункт 2
    li
      a(href="/") портфолио
      ul.submenu
        li
          a(href="/") Подпункт 1
        li
          a(href="/") Подпункт 2
    li
      a(href="/") блог
    li
      a(href="/") контакты
    li
      a(href="/") О компании
    li
      a(href="/") Отзывы о нас
    li
      a(href="/") Доставка и оплата
    li
      a(href="/") Дизайнеры
