.slider.owl-carousel
  .slide.slide 
    .title
      h2 Декоративные покрытия
        small от лучших производителей (1)
      a(href="/").more подробнее
  .slide.slide   
    .title
      h2 Декоративные покрытия
        small от лучших производителей (2)
      a(href="/").more подробнее
  .slide.slide3    
    .title
      h2 Декоративные покрытия
        small от лучших производителей (3)
      a(href="/").more подробнее
  .slide.slide4  
    .title
      h2 Декоративные покрытия
        small от лучших производителей (4)
      a(href="/").more подробнее